<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>
        <property name="hibernate.hbm2ddl.auto">create</property>

        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">false</property>

        <mapping class="account.infrastructure.persistence.entity.AccountEntity"/>
        <mapping class="account.infrastructure.persistence.entity.OwnerEntity"/>
        <mapping class="account.infrastructure.persistence.entity.MovementEntity"/>
    </session-factory>
</hibernate-configuration>